.spine {
  cursor: pointer;
  position: relative;
  bottom: 0;
  width: 3.75rem; height: 18.75rem;
  margin: 0.625rem;
  box-shadow: 0 0.625rem 0.625rem -0.3125rem black;
  user-select: none;
  transition: .3s all ease;

  &:hover {
    transform: translateY(-0.625rem);
    box-shadow: 0 0.3125rem 0.625rem -0.3125rem black;;
  }

  & .top {
    position: absolute;
    top: 0; right: 0;
    bottom: 90%; left: 0;
    border: 0.625rem solid pink;
    border-top: none;
    border-bottom: none;

    & .stripe {
      position: absolute;
      top: 0.625rem; left: 0; right: 0; bottom: 0;
      background: #eee;
    }
  }

  & .main {
    position: absolute;
    top: 10%; right: 0;
    bottom: 0; left: 0;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;

    & .title {
      width: 1.5rem;
      writing-mode: vertical-rl;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}