.login-view {
  position: absolute;
  top: 10%; left: 5%;
  width: 90%; height: 80%;
  // margin: 10%;
  background: #c96;

  & .name {
    position: absolute;
    top: 10%; left: 10%;
    width: 80%; height: 5%;

    & #name {
      position: absolute;
      padding: 1rem;
      top: 0; left: 50%;
      width: 80%; height: 100%;
      font-size: 2rem;
      text-align: center;
      background-color: transparent;
      border: none;
      background-clip: padding-box;  /* important  */
      border: .2rem solid hsla(0,0%,100%,.5); 
      border-radius: .1rem;
      outline: none;
      transform: translateX(-50%);
    }
  }

  & .pwd {
    position: absolute;
    top: 30%; left: 30%;
    width: 40%; height: 1rem;
    
    & #pwd {
      position: absolute;
      padding: 0.625rem;
      top: 0; left: 50%;
      width: 40%; height: 1rem;
      font-size: 1rem;
      text-align: center;
      background-color: transparent;
      border: none;
      background-clip: padding-box;  /* important  */
      border: .2rem solid hsla(0,0%,100%,.5); 
      border-radius: .1rem;
      outline: none;
      transform: translateX(-50%);
    }

    & span {
      position: absolute;
      padding: 0.625rem 0;
      top: 0; left: 75% ;
      width: 10%; height: 100%;
      text-align: center;
    }
  }

  & .publish {
    position: absolute;
    bottom: 10%; left: 0;
    width: 100%;

    & .publisher {
      text-align: center;
    }
  }

  & .left-stripe {
    position: absolute;
    top: 0; left: 2%;bottom: 0;
    width: .5rem;
    background: white;
    z-index: 2;
  }

  & .right-stripe {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 2rem;
    background: linear-gradient(to right, #fff 50%, grey 50%);
    background-size: 0.3125rem 0.625rem;
    z-index: 2;
  }

  & .locker {
    cursor: pointer;
    position: absolute;
    top: 50%; right: 0;
    width: 6.25rem; height: 2.5rem;
    user-select: none;
    background: #a64;
    transition: .5s all ease;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    z-index: 2;
    transform-origin: 100% 0;

    &:before {
      content: '';
      position: absolute;
      top: 50%;left: 0.625rem;
      height: 0.625rem; width: 0.625rem;
      border-radius: 0.3125rem; 
      background: white;
      transform: translateY(-50%);
      z-index: 3;
    }
  }
}