.bookmark {
  cursor: pointer;
  user-select:none;
  width: 100px; height: 300px;
  margin: 10px; margin-top: 50px;
  padding: 10px;
  background: #c96;
  position: relative;
  transition: .3s all ease;
  transform-origin: 50% 0;
  box-shadow: 10px 10px 10px -5px black;

  & .nail {
    position: absolute;
    top: 5px; 
    width: 10px; height: 10px;
    background: white;
    border-radius: 50%;
    border: 5px solid #99a;
    opacity: 0;
    transform: translateY(-10px);
    transition: .3s all ease;
  }

  & .header {
    margin: 0 auto;
    width: 90px; height: 90px;
    border-radius: 45px;
    background: #feb;
    text-align: center;
    font-size: 50px;
    line-height: 90px;
  }

  & .info {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    top: 110px; left: 10px; right: 10px;
    bottom: 10px;

    & div {
      margin: 0;
      writing-mode: vertical-rl;
      background: #fdb;
    }

    & span {
      margin: 10px;
      width: 10px; height: 10px;
      border-radius: 5px;
    }
  }

  // line
  &:before {
    position: absolute;
    content: "";
    border: 2px dotted #444;
    border-bottom: none;
    border-left: none;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    transform: rotate(-45deg);
    border-radius: 0 5px 0 0;
  }

  // nail
  &:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -35px;
    left: 50%;
    margin-left: -4px;
    background: #4c4c4c;
  }

  &:hover {
    transform: rotate(3deg);
    animation: swing 2s infinite alternate ease-in-out;
    animation-delay: .5s;
  }
}

@keyframes swing {
  50% { transform: rotate(-3deg) }
  100% { transform: rotate(3deg) }
}