.plan {
  margin: 0; 
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s all ease;
    position: relative;
    margin: 20px;
    background-color: #EFD171;

    & .note {
      position: relative;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 95%;
      width: 100%;
      background-color: #FFE882;

      &:after {
        content: '';
        border-left: 10px solid #FFF1B4;
        border-top: 10px solid #FFF1B4;
        border-right: 10px solid #EFD171;
        border-bottom: 10px solid #EFD171;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }

      & .info-page {
        margin-top: 20px;
        width: auto;

        & .cell {
          margin: 15px auto;
          padding-bottom: 5px;
          border-bottom: 3px dashed black;

          & .input {
            position: relative;
            right: 0; 
            
            outline: none; 
            border: 0 none;
            font: inherit; 
            text-align: left; 
            color: #c66;
            background: white; 
            padding: 0 10px;
            height: 40px; width: 60px;
            box-sizing: border-box;
            -webkit-appearance: none;

            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }

            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
            }
          }

          & .title {
            padding: 5px;
            background: #feb;
            color: #a64;
            font-weight: bold;
            text-align: center;
            border-left: 3px solid #a64;
            transition: .3s all ease;

            &:hover {
              border-left-color: #feb;
              background: #a64;
              color: #feb;
            }
          }

          & .key {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            line-height: 30px;
            text-align: center;
            color: #feb;
            border: 5px solid #feb;
            background: #a64;
          }

          & .value {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            line-height: 30px;
            color: #a64;
            background: #feb;
            border-left: 5px solid #a64;
            font-weight: bold;
            transition: .3s all ease;

            &:hover {
              border-left-color: #feb;
              background: #a64;
              color: #feb;
            }
          }
        }
      }

      & .pencil{
        cursor: pointer;
        position: absolute;
        background-color: #feb;
        width: 20px;
        height: 120px;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        text-align: center;
        transition: .3s all ease;

        & .banner {
          position: absolute;
          bottom: 50px;
          font-size: .8rem;
          font-weight: bold;
        }

        & .pencil-bottom{
          position: absolute;
          bottom: 0px;
          background-color: #FF859F;
          width: 100%;
          height: 15px;
          border-bottom: 5px solid #A9876E;
        }

        & .pencil-nip{
          border-bottom: 22px solid #F3C6A9;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          width: 0;
          height: 0;
          margin-top: -22px;

          & .pencil-tip{
            border-bottom: 8px solid #151822;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            height: 0px;
            width: 0px;
            top: -22px;
            position: absolute;
            left: 6px;
          }
        }
        
        &:hover {
          transform: translateY(-50%) scale(1.1);
        }
      }

      & .erase {
        cursor: pointer;
        width: 80px; height: 40px;
        background: white;
        position: relative;
        transition: .3s all ease;

        &:before {
          content: '';
          position: absolute;
          left: -10px; top: 50%;
          height: 36px; width: 10px;
          background: red;
          transform: translateY(-50%);
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0; top: 5px;
          height: 5px; width: 100%;
          background: blue;
        }

        & .banner {
          position: absolute;
          font-weight: bold;
          white-space: nowrap;
          bottom: 5px; left: 50%;
          transform: translateX(-50%);
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}