.menu {
  position: relative;
  background-color: #20232C;
  border-radius: 0.625rem;
  border-bottom: 0.3125rem solid #A6856E;

  & .speaker{
    background-color: #EDEDF0;
    height: 0.1875rem;
    width: 0.9375rem;
    border-radius: 0.3125rem;
    margin: 0.5rem auto;
  }

  & .screen{
    position: relative;
    background-color: #262E41;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & .nav-item {
      cursor: pointer;
      margin: 0.625rem;
      width: 4.375rem; height: 2.5rem;
      text-align: center;
      font-weight: bold;
      line-height: 2.5rem;
      border: 0.3125rem solid;
      transition: .3s all ease;
    }

    & .home {
      color: #feb;
      border-color: #feb;
      &:hover {
        background: #feb;
        color: inherit;
      }
    }
    & .book {
      color: #b64;
      border-color: #b64;

      &:hover {
        background: #b64;
        // color: #234;
        color: inherit;
      }
    }
    & .plan {
      color: #ff8;
      border-color: #ff8;

      &:hover {
        background: #ff8;
        color: inherit;
      }
    }
  }

  & .button{
    height: 0.9375rem;
    width: 0.9375rem;
    background-color: #EDEDF0;
    border-radius: 50%;
    margin: 0.375rem auto;
  }

  & .volume_rockers{
    position: absolute;
    background-color: #20232C;
    height: 1.5rem;
    width: 0.3125rem;
    top: 1.5625rem;
    left: -0.125rem;
    border-radius: 0.625rem;
  }
}

// @media screen and (max-width: 700px) {
//   .menu {
//     // width: 90%;
//     & .screen {
//       // flex-direction: column;
//     }
//   }
// }